body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--color1);
  font-size: clamp(1rem, 1.2vw, 1.5rem);
}

.main {
  height: 100vh;
}

/* Main Content */
.mainContent {
  position: relative;
  background-color: var(--color2);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 1rem ;
  flex-wrap: wrap;
  border-radius: 25px 0 0 25px;
  justify-content: space-between;
  gap: 1rem;
  transition: margin-left 0.3s ease;
}

/* FEED */
.feed {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 60%;
  height: 100%;
  padding: 1.5rem;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  max-width: 1200px;
}

/* Sidebar */
.sideBar {
  width: 10%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: width 0.3s ease;
}

.sideBar:hover + .mainContent {
  margin-left: 2rem;
  width: calc(100% - 2rem);
}

.sideBar:hover {
  width: 15rem;
}

.logo {
  font-size: 150%;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--color4);
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--color1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo:hover {
  background-color: var(--color1);
  color: var(--color4);
  border: 1px solid var(--color4);
  transform: scale(1.1);
}

.navIcons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.sideBar .icon {
  border: 1px solid var(--color5);
  width: 2.7rem;
  padding: 5px;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 25px;
  fill: var(--color5);
}

.sideBar .icon:hover {
  transform: scale(1.1);
}

/* POSTS */
.post {
  padding: 1rem;
  background-color: var(--color1);
  border-radius: 15px;
  color: var(--color2);
  width: 100%;
  height: auto;
  align-content: center;
  transition: all 0.2s ease;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.postHeader,
.commentHeader {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 10;
}

.postDesc {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 8;
}

.postContent {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4;
}

.postImage {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 15px;
}

/* add post  */
.addPost,
.addComment {
  padding: 1rem;
  background-color: var(--foreground);
  border-radius: 15px;
  margin: 1rem auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 4;
}
.userIcon {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.postForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8;
}

.commentForm {
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 8;
}

.postTitleInput,
.postContentInput,
.commentInput {
  background-color: var(--color1);
  padding: 1rem;
  height: auto;
  width: 100%;
  overflow: auto;
  border: none;
  outline: none;
  resize: none;
  border-radius: 15px;
}

.commentsBtn,
.addPostBtn,
.addCommentBtn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 7px;
  border: 1px solid var(--color4);
  color: var(--color2);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.commentsBtn:hover {
  background-color: var(--color4);
  color: var(--color1);
  transform: translateY(-10px) scale(1.1);
}

/* comments */
.comment {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8;
}

.commentContent {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4;
  border-radius: 15px;
  background-color: var(--color1);
}

/* rigth menu */
.rightMenu {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8;
  width: 30%;
  height: 100%;
  padding: 1rem 0.5rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.header {
  padding: 15px 15px 0px 15px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  width: 100%;
  height: 3rem;
  background-color: var(--color2);
}

.title {
  color: #000;
}

.link {
  color: var(--color6);
  transition: all 0.2s ease-in-out;
}

.link:hover {
  border-bottom: 1px solid black;
}

.friendRequests {
  border-radius: 15px;
  width: 100%;
  height: 20rem;
  overflow-y: auto;
  scrollbar-width: none;
  border: 1px solid black;
}

.requests {
  padding: 0.8rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.requests::-webkit-scrollbar {
  display: none;
}

.request {
  font-size: clamp(0.8rem, 0.9rem, 1.2rem);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.request:hover {
  background-color: var(--color5);
  transform: translateY(-10px);
}

.request .userIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  flex-shrink: 0;
}

.request .icon {
  width: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 15px;
  color: #000000;
}

.userRequest {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8;
}

.requestUserName {
  color: #1a1a1a;
}

.requestOptions {
  width: 3rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1440px) {
  body {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
  }

  .mainContent {
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
  }

  .feed {
    width: 50%;
  }

  .sideBar {
    padding: 1.5rem;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .post {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    padding: 1.5rem;
  }
}

@media (max-width: 900px) {
  .rightMenu {
    width: 30%;
    right: 20px;
  }

  .mainContent .rightMenu:first-of-type {
    display: none;
  }

  .feed {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .feed {
    width: 80%;
  }
  .mainContent {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .rightMenu {
    display: none;
  }

  .feed {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .sideBar .icon {
    width: 40px;
  }

  .post {
    font-size: small;
  }

  .postImage {
    height: 10rem;
  }

  .feed {
    width: 100%;
  }

  .mainContent {
    border-radius: 0%;
    width: calc(100% - 1rem);
    padding: 1rem 1rem 1rem 4rem;
  }
}
