services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8080:8080"
    volumes:
      - ./back-end/database/socNet.db:/app/database/socNet.db
      - ./back-end/database/schema.sql:/app/database/schema.sql 
    networks:
      - app_network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - DOCKERIZED=true 
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
