/* FEED */
.feed {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 60%;
  height: 100%;
  /* padding: 1.5rem; */
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

/* POSTS */
.post {
  padding: 1rem;
  background-color: var(--color1);
  border-radius: 15px;
  color: var(--color2);
  width: 100%;
  height: auto;
  align-content: center;
  transition: all 0.2s ease;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.post:active {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.postHeader,
.commentHeader {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 10;
}

.postDesc {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 8;
}

.postContent {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4;
}

.postImage {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 15px;
}

/* add post  */
.addPost,
.addComment {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.493);
}

.userIcon {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.formContainer,
.addComment {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.493);
}

.form {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8;
  border-radius: 25px;
  background-color: var(--color1);
  color: var(--color2);
}

.commentForm {
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 8;
}

.postOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.postTitleInput,
.postContentInput,
.commentInput {
  background-color: var(--color2);
  padding: 1rem;
  height: auto;
  width: 100%;
  overflow: auto;
  border: none;
  outline: none;
  resize: none;
  border-radius: 15px;
}

.commentsBtn,
.submitBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 7px;
  border: 1px solid var(--color4);
  color: var(--color2);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.commentsBtn:hover,
.submitBtn:hover,
.uploadImgBtn:hover,
.commentsBtn:focus,
.submitBtn:focus,
.uploadImgBtn:focus {
  background-color: var(--color4);
  color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transform: translateY(-10px) scale(1.1);
}

.closeBtn {
  width: 10%;
  background-color: transparent;
  border: none;
  display: flex;
  transform: rotate(45deg);
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: var(--color4);
}

/* comments */
.comment {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8;
}

.commentContent {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4;
  border-radius: 0 15px 15px 15px;
  background-color: var(--color1);
}

.comments {
  padding: 0.5rem 0;
  width: 100%;
}

@media (max-width: 1440px) {
  .post {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    padding: 1.5rem;
  }
}

@media (max-width: 900px) {
  .feed {
    width: 100%;
  }

  .feed.group {
    height: 86%;
  }
}

@media (max-width: 700px) {
  .feed {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .post {
    font-size: small;
  }

  .postImage {
    height: 10rem;
  }
}
