# fly.toml app configuration file generated for socnet on 2025-06-06T16:10:37+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'socnet'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile.backend'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
