@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg);
}

/******************* Welcome Popup *******************/
.welcome-popup {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: rgba(34, 34, 34, 0.92);
    padding: 2rem 2.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 7px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    text-align: center;
    max-width: 90%;
    width: auto;
    transition: opacity 1.5s ease;
    opacity: 1;
    /* Start fully visible */
}

/* Close Button */
.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #333;
}

/* Fade-out effect */
.fade-out {
    opacity: 0;
}

@media (max-width: 350px) {
    .welcome-popup strong {
        font-weight: bold;
    }

    .welcome-popup {
        padding: 1.5rem 2rem;
        font-size: 1.2rem;
        font-weight: normal;
        border-radius: 5px;
    }

    .close-popup {
        font-size: 1.3rem;
    }
}

::selection {
    background-color: #414141;
    color: white;
}

::-moz-selection {
    background-color: #464646;
    color: white;
}