@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg);
}

::selection {
    background-color: #3e444d; 
    color: #ffffff;        
}
  
/******************* Welcome Popup *******************/
.welcome-popup,
.popup {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #202020;
    color: rgba(252, 252, 252, 0.92);
    padding: 2rem 2.5rem;
    border-radius: 7px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    text-align: center;
    max-width: 90%;
    width: auto;
    transition: opacity 1.5s ease;
    opacity: 1;
    font-family: 'Zain';
    font-size: 1.4rem;
    max-width: 450px;
}

.popup.succ {
    background-color: #242424;
    color: rgb(49, 206, 35);
}

.popup.fail {
    background-color: #242424;
    color: #f71515;
}

/* Close Button */
.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #e6e6e6;
}

/* Fade-out effect */
.fade-out {
    opacity: 0;
}

@media (max-width: 350px) {
    .welcome-popup strong {
        font-weight: bold;
    }

    .welcome-popup,
    .popup {
        padding: 1.5rem 2rem;
        font-size: 1.2rem;
        font-weight: normal;
        border-radius: 5px;
    }

    .close-popup {
        font-size: 1.3rem;
    }
}
