.chat {
  background-color: var(--color2);
  width: 60%;
  height: calc(100%-1.5rem);
  padding: 0 1rem;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
  background-color: var(--color1);
  color: var(--color2);
  padding: 1.5rem 1.5rem 0 1.5rem;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}
.messages{
  background: red;
  overflow-y: auto;
  height: 100%;
}
.message {
  margin: 1rem 0;
  padding: 1rem;
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.userIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
}

.messageDate {
  font-style: italic;
  text-align: end;
  width: 100%;
}

.sender {
  border-radius: 0 25px 25px 25px;
  background-color: var(--color2);
  color: var(--color1);
}

.receiver {
  background-color: var(--color4);
  border-radius: 25px 25px 0 25px;
  color: var(--color1);
  float: right;
}

.chatForm {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  background-color: var(--color1);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.chatForm input {
  border-radius: 15px;
  height: 100%;
  width: calc(100% - 30px);
  padding: 0.5rem;
}

.sendBtn {
  background-color: transparent;
  width: 4rem;
  border: none;
  transition: all 0.2s ease;
  stroke: var(--color5);
  padding: 0.4rem;
  outline: none;
}

.sendBtn:hover,
.sendBtn:focus {
  filter: drop-shadow(0 0 0.75rem var(--color4));
  transform: rotate(-45deg) scale(1.1);
}

@media (max-width: 1100px) {
  .chat {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .chat {
    width: 100%;
    height: 85%;
  }
}

@media (max-width: 800px) {
  .chat {
    width: 100%;
    height: 100%;
  }
}
