/* rigth menu */
.rightMenu,
.leftMenu {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.header {
  padding: 15px 15px 0px 15px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  width: 100%;
  height: 3rem;
  background-color: var(--color2);
}

.title {
  color: #000;
}

.link {
  color: var(--color6);
  transition: all 0.2s ease-in-out;
}

.link:hover {
  border-bottom: 1px solid black;
}

.List {
  border-radius: 15px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.List:not(.groups) {
  border: 1px solid black;
}

.List.event {
  border: none;
}

.users {
  padding: 0.8rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.users::-webkit-scrollbar {
  display: none;
}

.ListItem {
  font-size: clamp(0.8rem, 0.9rem, 1.2rem);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.ListItem:hover {
  background-color: var(--color5);
  transform: translateY(-10px);
}

.ListItem .userIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
}

.ListItemInfo {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8;
}

.ListItemName {
  color: #1a1a1a;
}

.options {
  width: 3rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* GROUP LIST */

.leftMenu.groups {
  width: 100%;
  height: 100%;

  .header {
    display: none;
  }

  .users,
  .events {
    padding: 0.8rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }

  .groupEvent {
    font-size: clamp(0.8rem, 0.9rem, 1.2rem);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.2s ease;
  }

  .groupEvent:hover {
    background-color: var(--color5);
    transform: translateY(-10px);
  }

  .groupEvent .userIcon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
  }

  .ListItem,
  .groupEvent {
    background-color: var(--color5);
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    height: 5rem;
  }

  .ListItem .userIcon {
    width: 50px;
    height: 50px;
  }

  .options {
    display: none;
  }

  .List.groups {
    width: 100%;
    height: 100%;
  }

  .groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .groupCard {
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .groupName {
    height: 10rem;
    padding: 4.3rem 0.5rem;
    background-color: var(--color1);
    color: var(--color5);
  }

  .title {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .groupCard .groupName,
  .groupCard .groupUsers,
  .groupCard .groupEvents {
    border: 1px solid black;
    border-radius: 15px;
    height: 100%;
  }

  .groupCard .groupEvents,
  .groupCard .groupUsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 40%;
  }
}

/* EVENTS LIST */

.List.event .header {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.List.event .users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--color1);
  border-radius: 15px;
}

/* USER SECTION */
.userSection {
  padding: 1rem;
  border: 1px solid var(--color1);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
  width: 100%;
  height: 21rem;
}

.userSection .userSectionHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.userSection .numbers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.buttons .button {
  width: 100%;
  padding: 0.4rem;
  margin: 1rem auto;
  border: 1px solid var(--color1);
  border-radius: 15px;
  transition: all 0.2s ease;
  background-color: #000;
  color: var(--color2);
  cursor: pointer;
}

.userImage {
  border-radius: 50%;
  border: 1px solid var(--color1);
}

/* @media (max-width: 1440px) {
    .sideBar:hover {
      width: 16rem;
    }
  
    .post {
      font-size: clamp(1rem, 1.2vw, 1.2rem);
      padding: 1.5rem;
    }
  } */

@media (max-width: 900px) {
  .rightMenu {
    width: 30%;
    right: 20px;
  }

  .leftMenu.home {
    width: 100%;
    display: none;
    background-color: azure;
  }

  .leftMenu.chat {
    width: 100%;
    height: 6rem;

    .List.suggestions {
      display: none;
      background-color: #1a1a1a;
    }
    .List .header {
      display: none;
    }

    .List.chat {
      width: 100%;
      height: 100%;
    }

    .users {
      width: 100%;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
    }

    .ListItem {
      width: auto;
      flex-wrap: wrap;
      justify-content: center;
      border: none;
    }

    .ListItem .userIcon {
      width: 50px;
      height: 50px;
    }

    .options {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .rightMenu {
    display: none;
  }
}
/*   
  @media (max-width: 500px) {
    .sideBar {
      border-radius: 0 25px 25px 0;
      padding: 2rem;
      position: fixed;
      background-color: var(--color1);
      z-index: 1;
    }
  
    .post {
      font-size: small;
    }
  
    .postImage {
      height: 10rem;
    }
  
    .feed {
      width: 100%;
    }
    
    .main {
      height: auto;
    }
  
    .mainContent {
      border-radius: 0;
      height: auto;
      width: 90%;
      margin-left: 3rem;
      padding: 0.5rem;
    }
  
    .feed {
      overflow: hidden;
      height: 100%;
    }
  }
   */
