/* rigth menu */
.rightMenu,
.leftMenu {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 30%;
  scrollbar-width: none;
  font-size: clamp(1rem, 1.2rem, 1.3rem);
  padding: 0 1rem;
}

.list {
  overflow: hidden;
  background-color: var(--color2);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

}

.header {
  padding: 15px 15px 0px 15px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: var(--color2);
}

.title {
  color: #000;
}

.link {
  color: var(--color6);
  transition: all 0.2s ease-in-out;
}

.link:hover {
  border-bottom: 1px solid black;
}

.list {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.users {
  width: 100%;
  padding: 1.2rem 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

}

.users::-webkit-scrollbar {
  display: none;
}

.listItem {
  font-size: clamp(0.8rem, 1rem, 1.4rem);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.6rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.profileBtn button {
  width: 5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}

.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.options button {
  border: none;
  border: none;
  padding: 0.8rem;
  width: 4rem;
  border-radius: 10px;
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--color5);
  transform: translateY(-10px);
}

.listItem .userIcon {
  border: 1px solid var(--color1);
  width: clamp(30px, 40px, 70px);
  height: clamp(30px, 40px, 70px);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
}

.listItemInfo {
  text-wrap: wrap;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

/* GROUP LIST */
.leftMenu.chat {
  height: 100%;
}

.leftMenu.groups {
  height: 100%;

  .groups {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .list.groups {
    width: 100%;
    height: 100%;
  }

  .listItem {
    width: 100%;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    padding: 1rem;
    margin: 0.3rem 0.5rem;
    border: 1px solid var(--color1);
  }
}

/* EVENTS LIST */
.list.event {
  .header {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--color1);
    border-radius: 15px;
  }
}

/* USER SECTION */
.profileCard {
  background-color: var(--color2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.profileCard .profileCardHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.username {
  width: 100%;
}

.profileCard .numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.userImage {
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media (max-width: 1200px) {
  .profileCardDesc {
    display: none;
  }
}

@media (max-width: 900px) {
  .rightMenu {
    width: 30%;
    right: 20px;
  }

  .rightMenu {
    display: none;
  }

  .leftMenu.home {
    width: 40%;
  }

  .leftMenu.chat {
    height: auto;
  }

  /* PRIVATE CHAT MENU */
  .leftMenu.chat {
    flex-direction: row;
    height: 10%;
    width: 100%;

    .list .header {
      display: none;
    }

    .list.chat {
      width: 100%;
      height: 100%;
    }

    .users {
      width: 100%;
      align-items: center;
      height: 100%;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
    }

    .listItem {
      width: auto;
      flex-wrap: wrap;
      justify-content: center;
      border: none;
    }

    .listItem .userIcon {
      width: 50px;
      height: 50px;
    }

    .options {
      display: none;
    }
  }

  .leftMenu.groups {
    flex-direction: row;
    height: 10%;
    width: 100%;

    .list .header {
      display: none;
    }

    .list.groups {
      width: 100%;
      height: 100%;
    }

    .groups {
      width: 100%;
      align-items: center;
      height: 100%;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
    }

    .listItem.group {
      background-color: var(--color1);
      color: var(--color2);
      width: auto;
      flex-wrap: wrap;
      justify-content: center;
      border: none;
    }

    .listItem .userIcon {
      width: 50px;
      height: 50px;
    }

    .options {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .leftMenu {
    display: none;
  }
}