/* rigth menu */
.rightMenu,
.leftMenu {
  border-radius: 15px;
  border: 1px solid var(--color1);
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 30%;
  overflow-y: auto;
  scrollbar-width: none;
  font-size: clamp(1rem, 1.2rem, 1.3rem);
}

.List {
  overflow: hidden;
}

.List .profileCard {
  height: 50%;
}

.List:not(.event):not(:last-of-type) {
  border-bottom: 1px solid var(--color1);
}

.header {
  padding: 15px 15px 0px 15px;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: var(--color2);
}

.title {
  color: #000;
}

.link {
  color: var(--color6);
  transition: all 0.2s ease-in-out;
}

.link:hover {
  border-bottom: 1px solid black;
}

.List {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.users {
  width: 100%;
  padding: 1.2rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.users::-webkit-scrollbar {
  display: none;
}

.ListItem {
  font-size: clamp(0.8rem, 1rem, 1.4rem);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.6rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.ListItem:hover {
  background-color: var(--color5);
  transform: translateY(-10px);
}

.ListItem .userIcon {
  width: clamp(30px, 40px, 70px);
  height: clamp(30px, 40px, 70px);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
}

.ListItemInfo {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8;
}

.options {
  width: 6rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* posts */
/* input[type="checkbox"] {
  color: beige;
  cursor: pointer;
} */



/* 
label {
  font-size: 0.8rem;
  color: #343434;
  margin-left: 0.5rem;
  cursor: pointer;
} */

/* GROUP LIST */
.leftMenu.chat {
  height: 100%;
}

.leftMenu.groups {
  height: 100%;

  .groups {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .List.groups {
    width: 100%;
    height: 100%;
  }

  .ListItem {
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    padding: 1rem;
    margin: 0.3rem 0.5rem;
    border: 1px solid var(--color1);
  }

  /* .users,
  .events {
    padding: 0.8rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  } */

  /* .groupEvent {
    font-size: clamp(0.8rem, 0.9rem, 1.2rem);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.2s ease;
  } */

  /* .groupEvent:hover {
    background-color: var(--color5);
    transform: translateY(-10px);
  } */

  /* .groupEvent .userIcon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
  }

  .groupEvent {
    background-color: var(--color5);
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    height: 5rem;
  } */

  /* .ListItem .userIcon {
    width: 50px;
    height: 50px;
  } */

  /* .options {
    display: none;
  }

  
/* 
 

  .groupCard {
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  } */

  /* .groupName {
    height: 10rem;
    padding: 4.3rem 0.5rem;
    background-color: var(--color1);
    color: var(--color5);
  }

  .title {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  } */

  /* .groupCard .groupName,
  .groupCard .groupUsers,
  .groupCard .groupEvents {
    border: 1px solid black;
    border-radius: 15px;
    height: 100%;
  }

  .groupCard .groupEvents,
  .groupCard .groupUsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 13rem;
  } */
}

/* EVENTS LIST */
.List.event {
  .header {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--color1);
    border-radius: 15px;
  }
}

/* USER SECTION */
.profileCard {
  background-color: var(--color2);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--color1);
}

.profileCard .profileCardHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.username {
  width: 100%;
}

.profileCard .numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.userImage {
  border-radius: 50%;
  border: 1px solid var(--color1);
}

@media (max-width: 1200px) {
  .profileCardDesc {
    display: none;
  }
}

@media (max-width: 900px) {
  .rightMenu {
    width: 30%;
    right: 20px;
  }

  .rightMenu {
    display: none;
  }

  .leftMenu.home {
    width: 40%;
  }

  .leftMenu.chat {
    height: auto;
  }

  /* PRIVATE CHAT MENU */
  .leftMenu.chat {
    width: 100%;

    .menuSection {
      height: 100%;
      border: none;
    }

    .menuSection:last-of-type {
      display: none;
    }

    .List .header {
      display: none;
    }

    .List.chat {
      width: 100%;
      height: 100%;
    }

    .users {
      width: 100%;
      align-items: center;
      height: 100%;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
    }

    .ListItem {
      width: auto;
      flex-wrap: wrap;
      justify-content: center;
      border: none;
    }

    .ListItem .userIcon {
      width: 50px;
      height: 50px;
    }

    .options {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .leftMenu {
    display: none;
  }
}
