.events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  height: 100%;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.eventHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.eventCard {
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid var(--color1);
}

.eventDates {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.button {
  padding: 1rem;
  border: none;
  border-radius: 15px;
  transition: all 0.2s ease;
  background-color: #000;
  color: var(--color2);
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  text-wrap: nowrap;
  justify-self: flex-end;
}

.button:hover {
  background-color: var(--color4);
  color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transform: translateY(-10px) scale(1.1);
}
