.unfollow {
  color: var(--color1);
  background-color: var(--color5);
}

.follow {
  background-color: var(--color1);
  color: var(--color2);
}

.followBtn {
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 10%;
}
