.unfollow {
  color: var(--color1);
  background-color: var(--color5);
}


.followBtn {
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 10%;
}

.accountStatus {}

.userInfo {
      display: flex;
    justify-content: center;
    margin: 50px;

}

.image_btn>img {
  border-radius: 50%;
}

.userInfo>div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
     margin-right: 180px;

}

.userInfo>div:nth-child(1) button {
  margin-top: 10px;
}

.data {
  /* background-color: gray; */
}

.username {
  display: flex;
  background-color: tomato;
  margin: 10px;
}

.numbers {
  display: flex;
  /* background-color: crimson; */
  padding: 10px;
      border-bottom: solid 2px gray;
}

.numbers div {
  margin: 0 10px;
}

.more_data {
  display: flex;
  flex-direction: column;
      padding: 20px 0;
}

/* posts */

.posts {}

.posts>div {
  /* margin: 100px 230px; */
  /* background-color: rgb(226, 226, 226); */
}

.userImage {
  border-radius: 50%;
}

.userpost {
  /* display: flex; */
  padding: 0 20px;
  background-color: blueviolet;
}

.userpost>div {
  /* margin: 10px; */
}

.postheder {
  display: flex;
  padding: 10px;
}

.postheder>div {
  margin: 10px;
}

.userpostcontent {
  padding: 0 100px 20px;
}

.profile_posts {
  height: 50vh;
  overflow-y: auto;
}