.unfollow {
  color: var(--color1);
  background-color: var(--color5);
}

.follow {
  background-color: var(--color1);
  color: var(--color2);
}

.followBtn {
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
}

/* Profile Card */
.profileCard {
  background-color: var(--color2);
  border: 1px solid #e7e7e7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  width: 100%;
  height: 50%;
}

.profileInfo {
  background-color: var(--color2);
  width: 40%;
}

.profileCard.home {
  .profileCardHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
  }

  .username {
    width: 100%;
  }

  .profileCard .numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .userImage {
    border-radius: 50%;
    border: 2px solid var(--color1);
  }

  .profileCard.profile {
    height: 100%;
  }
}

.profileCard.profile {
  z-index: 10;
  padding: 0.7rem 3rem;
  flex-wrap: nowrap;
  width: 100%;
  height: 10rem;

  .profileCardHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
  }

  .username {
    width: 100%;
  }

  .numbers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .userImage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid var(--color1);
  }
}

.profileInfo {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #e7e7e7;
  padding: 1rem;
  color: var(--color1);
}

.title {
  color: var(--color1);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.info div {
  width: 100%;
}
