.card {
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 1rem;
    background-color: white;
    font-family: 'Zain';
}

.title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: .25rem;
    word-wrap: anywhere;
}

.desc {
    margin: 0 0 .5rem 0;
    color: rgb(41, 41, 41);
    /*white-space: pre-wrap;*/
    word-wrap: anywhere;
    font-size: 1.2rem;
}

.date {
    font-size: 1.2rem;
    margin-left: auto;
}

.counts {
    font-size: 1rem;
    display: flex;
    gap: 3.5rem;
    margin-bottom: .75rem;
    margin-left: 20px;
}

.actionRow {
    display: flex;
    gap: .5rem;
}

.button {
    background: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    padding: .25rem 1.1rem;
    font-family: 'Zain';
    font-size: 1.3rem;
    cursor: pointer;
}

.sel {
    background: transparent;
    color: #000;
}