.groupMenu {
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    max-width: 600px;
    position: sticky;
    top: 1rem;
    overflow-wrap: anywhere;
    margin-top: 30px;
    margin-left: 20px;
    scrollbar-width: none;
    font-family: 'Zain', sans-serif;

}

.header {
    text-align: center;
    margin-bottom: 1rem;
}

.avatar {
    border-radius: 50%;
    border: 2px solid #d3d3d3;
    box-shadow: inset 0 0 0 2px #616161;
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .name {
        font-size: 1rem !important;
    }
}

@media (max-width: 500px) {
    .name {
        display: none;
    }
    .groupMenu {
        margin-top: 0px;
    }
}

.nameTitle {
    font-family: 'Zain', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: #1f1f1f;
    margin-top: 20px;
}

@media (min-width: 500px) {
    .nameTitle {
        display: none;
    }
    .avatar {
        margin-right: 15px;
    }
}

.memberCount {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}

.about {
    font-size: 1.2rem;
    color: #aaa;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
}

.menuItem {
    background: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 120px;
    margin-bottom: 0.5rem;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 970px) {
    .menuItem img {
        margin-right: 10px;
    } 
}

.menuItem:hover {
    background: #1f1f1f;
    border: 2px solid #1f1f1f
}

.label {
    display: inline-block;
    font-size: 1.3rem;
    margin-top: 5px;
}

/* Responsive Collapse */
@media (max-width: 970px) {
    .groupMenu {
        max-width: none;
        border-radius: 0;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.5rem;
        position: sticky;
        top: 0;
        z-index: 100;
        border-radius: 10px;
    }

    .menu {
        flex-direction: row;
        gap: 0.5rem;
        width: auto;
    }

    .menuItem {
        flex-direction: column;
        padding: .4rem;
        margin-bottom: 15px;
        width: 37px;
        border-radius: 50%;
        height: 37px;
    }

    .label {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0;
    }

    .avatar {
        width: 60px !important;
        height: 60px !important;
    }

    .name {
        font-size: 1.2rem;
        margin: 0;
        margin-right: 10px;
    }

    .memberCount,
    .about {
        display: none;
    }

    .responsiveOnly {
        display: flex !important;
    }
}

.responsiveOnly {
    display: none;
}