.groupLayout {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    gap: 1rem;
    align-items: flex-start;
    background-color: whitesmoke;
    width: 100%;
}

@media (max-width: 1000px) {
    .groupLayout {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1300px) {
    .groupLayout {
        grid-template-columns: 300px 1fr 300px;
    }
}

@media (min-width: 1700px) {
    .groupLayout {
        grid-template-columns: 350px 1fr 350px;
    }
}

/* Left and Right Menus */
.menuLayout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: 98vh;
}

@media (max-width: 1000px) {
    .menuLayout:last-of-type {
        display: none;
    }
    .menuLayout {
        width: 100%;
        overflow-y: clip;
        padding-right: 2rem;
    }
}

/* Center Content */
.contentLayout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1000px) {
    .contentLayout {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}