.feed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: 90vh;
    padding-right: 0.5rem;
    scrollbar-width: none;
}

/* POSTS */
.post {
    position: relative;
    background-color: #ffffff;
    color: #1a1a1a;
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-bottom: 30px;
    font-family: 'Zain', sans-serif;
    font-size: 1.4rem;
    padding-bottom: 0rem;
}

.post:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.postHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.postInfo time {
    font-size: large;
    color: #6b6b6b;
}

.userIcon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.postImage {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 1rem;
}

/* Post Body Text */
.postContent {
    padding-top: 0.5rem;
    line-height: 1.3;
    overflow-wrap: anywhere;
    white-space: pre-wrap
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .feed {
        max-height: 80vh;
    }
}

@media (max-width: 768px) {
    .feed {
        width: 100%;
        max-height: 70vh;
    }
}

@media (max-width: 600px) {
    .feed {
        width: 100%;
        max-height: 75vh;
    }

    .postImage {
        max-height: 200px;
    }
}

.feedContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: 95vh;
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
}

.status {
    text-align: center;
    color: #555;
    font-family: 'Zain', sans-serif;
    font-size: 1.5rem;
}

.cmtBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.cmtBtn {
    cursor: pointer;
    padding: 0.3rem;
    transition: .2s;
}

.cmtBtn:hover {
    transform: scale(1.1);
}