.groupLayout {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    gap: 1rem;
    align-items: flex-start;
    background-color: whitesmoke;
    width: 100%;
}

/* Left and Right Menus */
.menuLayout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: 98vh;
}

/* Center Content */
.contentLayout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}